<section class="phx-hero">
  <h1>Validação de Gabarito</h1>
</section>

<section class="row">
  <%= render "form.html", Map.put(assigns, :action, Routes.template_validator_path(@conn, :submit)) %>
</section>
